<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find turtlebot_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find ping_pong_robot)/urdf/sensors/rplidar.urdf.xacro" />
  <xacro:include filename="$(find ping_pong_robot)/urdf/sensors/camera.urdf.xacro" />

<kobuki/>



  <stack_hexagons parent="base_link"/>
  <sensor_kinect  parent="base_link"/>
  <xacro:rplidar name="rplidar" parent="base_link" ros_topic="scan" update_rate="20" ray_count="1040" min_angle="0" max_angle="360">
    <origin xyz="-0.1 0 0.420" rpy="3.1415 0 1.5707"/>
  </xacro:rplidar>

  <xacro:generic_camera parent="base_link" name="camera">
  		<origin xyz="0.13 0 0.400" rpy="0 0.78535 0"/>
  </xacro:generic_camera>


</robot>
