<launch>

    <!-- MOVE_BASE y AMCL -->
  <include file="$(find ping_pong_robot)/launch/ping_pong_amcl_demo.launch"/>
    <!-- USB_CAM + Análisi de imágen -->
  <include file="$(find ping_pong_robot)/launch/ping_pong_camera_demo.launch"/>
    <!-- Exploration -->
  <node name="exploration"		pkg="ping_pong_robot"		type="exploration" 	output="screen"> </node>

    <!-- Control y acercamiento a pelotas -->
 <node name="control_demo"		pkg="ping_pong_robot"		type="control_demo" 	output="screen"> </node>
<!--   <node name="control"		pkg="ping_pong_robot"		type="control" 	output="screen"> </node>-->
  <!-- APP MOBIL -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    <arg name="port" value="8080"/>
  </include>
  <include file="$(find roswww)/launch/roswww.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_stage)/rviz/robot_navigation.rviz"/>
</launch>
