<launch>
	<!-- User arguments -->


	<arg name="show_image"  default="true" />
	<arg name="name" default="camera"/>

	<!-- camera capture -->






	<!-- Provides rectified image, given raw image and camera info -->
	<node
		name="image_proc"
		pkg="image_proc"
		type="image_proc"
		ns="ping_pong_camera"
		output="screen"
		respawn="true" >
	</node>



	<!--Fake processor-->
	<node name="camera"
		pkg="ping_pong_robot"
		type="camera"
		output="screen"
		args="1">
		<remap from="/camera/image_in" to="/ping_pong_camera/image_raw"/>
		<remap from="/camera/camera_info_in" to="/ping_pong_camera/camera_info"/>
	</node>

	<!-- display in/out image -->
	<group if="$(arg show_image)">
<!--		<node
			name="image_view_raw"
			pkg="image_view"
			type="image_view"
			respawn="false"
			output="screen">
			<remap from="image" to="/ping_pong_camera/image_raw"/>
			<param name="autosize" value="false" />
		</node>-->
		<node
			name="image_view_out"
			pkg="image_view"
			type="image_view"
			respawn="false"
			output="screen">
			<remap from="image" to="/camera/image_out"/>
			<param name="autosize" value="false" />
		</node>
	</group>

</launch>
